repos:
  - repo: https://github.com/psf/black
    rev: 25.11.0 
    hooks:
      - id: black
        args: ["--line-length", "120"]

  - repo: local
    hooks:
      - id: pycodestyle
        name: pycodestyle
        entry: python -m pycodestyle
        language: system
        types: [python]
        args: ["--max-line-length=120"]

